body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    padding: 0px;
    margin: 0px;
}

header{
        color: #f9faf8;
        font-size: 10px;
        padding
    }



.sec1{
background-color: #1F2937;    

}

.Sec2{
    background-color: #1F2937;    
    
    
}

.Sec3{
    background-color: white;    
    

}

.quote{
color: #1f2937;
font-size: 36px;
font-style: italic;
font-weight:100;
display: flex;
flex-direction: column;
justify-content: center;
padding: 70px 70px ;
background-color: #E5E7EB;
}



b{
    text-align: right;
    font-style: normal;
}

.Sec5{
    background-color: white;    
    height: 20%;
        
    }


footer{
    background-color: #1F2937;
    color: #FFF;    
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 0; 
}