

body{
    font-family:'Times New Roman', Times, serif; 
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    padding: 0px;
    margin: 0px;
}


header{
        color: #f9faf8;
        font-size: 24px;
        display: flex;
        align-items: baseline;
        
            }



.sec1{
background-color: #1F2937;
display: flex;
justify-content: space-between;
align-items: baseline;
padding-left: 15px;
padding-right: 15px;


}


li{
    list-style: none;
    float: left;
    display: flex;
    justify-content: space-around;
    padding: 7px;
    
}
a{
    color: #E5E7EB;
    text-decoration: none;
    font-size: 18px;
}

.Sect2{
    color: #f9faf8;
    background-color: #1F2937;    
    display: flex;
    flex-direction: row;
   justify-content: space-around;
   align-items: center;
   padding-left: 15px;

    
}

.bigb{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}


.button{
    color: #E5E7EB;
    padding: 7px;
    width: 120px;
    background-color: #3882F6;
    border-radius: 8px;
    
}

.herol{
    display: flex;
    justify-content: space-around;
    flex-flow: column wrap;
    padding-left: 15px;

}

.heror{
font-size: 18px;
color: #E5E7EB;
}

.cuadro{
    border: 0px;
    background-color: grey;
    width: 400PX;
    height: 150PX;
    padding-right: 0px;
    display: flex;
    display: flex;
    justify-content: center;
    align-content: center;

}

.herorp{
    color: #E5E7EB37;
    text-align: cente;
    display: flex;
    justify-content: center;
    align-content: center;
    
}

.title1{
font-size: 48px;
color: #f9faf8;
max-width: 50%;
}

.title2{
font-size: 18px;
font-display;
color: #E5E7EB;
max-width: 50%;
align-content: initial;
text-align: left;
}

.sec3{
background-color: white;
text-align: center;
max-width: 100%;
display: flex;
flex-direction: column;
align-items: center;


}

.sec3 h2{
    font-size: 36px;
    }

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.sec3b{
    text-align: center;
    max-width: 200px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin-left: auto;
    color: lightgray;
}

.box{
    border: 1px solid #3882F6;
    background-color: white;
    width: 120px;
    height: 120px;
    margin: 5px;
    border-radius: 10px;
    padding-left: 15px;


}

.quote{
color: #1f2937;
font-size: 36px;
font-style: italic;
font-weight:100;
display: flex;
flex-direction: column;
justify-content: center;
padding: 80px 80px ;
background-color: #E5E7EB;
}



p, .insp {
    font-style: italic;
    text-align: left;
    
}

p, .Thor {
    font-style: normal;
    text-align: right;
    
}


.singup{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    
        
            
    }

.bluesquare{
    background-color:#3882F6;
    width: 800px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    margin: 5%;
}

.button5{
    color: #E5E7EB;
    padding: 7px;
    width: 120px;
    background-color: #3882F6;
    border-radius: 5px;
    border-color: #E5E7EB;
    display: flex;
    justify-content:center;
   align-items: center;
    
}

.callto{
    font-size: 24px;
    color:#E5E7EB;
}

.callta{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    
    
}
.calltop{
    font-size: small;
    color:#E5E7EB;
}


footer{
    background-color: #1F2937;
    color: #FFF;    
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 0; 
}